h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: tomato;
}

/* ========== MIN-WIDTH MAX-WIDTH ========== */
/* Когда ширина вьюпорта в браузере будет 400px или больше, применить правила внутри */
/* @media (min-width: 400px) {
  body {
    background-color: teal;
  }
} */

/* Когда ширина вьюпорта в браузере будет 768px или больше, применить правила внутри */
/* @media (min-width: 768px) {
  body {
    background-color: pink;
  }
} */

/* При ширине вьюпорта от 0 до 767px, сработает это медиа правило */
/* @media (max-width: 767px) {
  body {
    background-color: teal;
  }
} */

/* При ширине вьюпорта от 0 до 500px, сработает это медиа правило */
/* @media (max-width: 500px) {
  body {
    background-color: pink;
  }
} */

/* ========== AND ========== */
/* 
768px +
0px - 1199px
*/
/* @media (min-width: 768px) and (max-width: 1199px) {
  body {
    background-color: aqua;
  }
} */

/* ========== OR ========== */
/* 
0px - 767px
1200px +
*/
/* @media (max-width: 767px), (min-width: 1200px) {
  body {
    background-color: antiquewhite;
  }
} */

/* ========== TYPES ========== */
/* 
  all
  screen 
  print
*/

/* @media print {
  .menu {
    display: none;
  }

  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .text {
    font-size: 18px;
  }

  .page-section {
    padding: 60px 0;
  }
} */

/* ========== ORIENTATION ========== */
/* @media screen and (orientation: landscape) and (max-width: 767px) {
  body {
    background-color: pink;
  }
}

@media screen and (orientation: portrait) {
  body {
    background-color: aqua;
  }
} */
