.contact-block-wrapper {
  background-color: #191c26;
  background-image: url('../images/contact-info/bg.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50% auto;
}

.contact-block-wrapper-container {
  display: flex;
}
