.contact-info-section {
  flex-basis: 50%;
  padding-left: 100px;
}

.contact-info-section-suptitle {
  color: #ffffff;
}

.contact-info-section-suptitle::before {
  background-color: #ffffff;
}

.contact-info-section-address {
  max-width: 260px;
  font-style: normal;
  margin-bottom: 66px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-list-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: rgba(var(--primary-text-color-theme-dark), 1);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

.contact-list-link-icon {
  flex-shrink: 0;
  margin-right: 16px;
  stroke: #9da4bd;
}

.contact-list-link:hover .contact-list-link-icon,
.contact-list-link:focus .contact-list-link-icon {
  stroke: var(--accent-color);
}

.contact-list-link-icon-map-pin {
  align-self: flex-start;
  margin-top: 8px;
}

.contact-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: rgba(var(--primary-text-color-theme-dark), 1);
}
