.modal-btn {
  min-width: 160px;
  @include font(12px, 600, 16px);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color-theme-dark);
  }
}

.modal-btn_theme_dark {
  color: var(--secondary-text-color-theme-dark);
}

.modal-btn_theme_light {
  color: var(--secondary-text-color-theme-light);
}
